/* Light Theme */
[data-theme="light"] {
  --color-bg-primary: #ffffff;
  --color-bg-surface: #ffffff;

  --color-card-bg: #161a20;

  --color-text-primary: #000000;
  --color-text-secondary: #000000cc;

  --color-accent-primary: #17b8a6;
  --color-accent-muted: #17b8a6cc;

  --color-accent-hover: #14a796;
  --color-accent-active: #119485;
  --color-accent-disabled: #17b8a680;
  --color-accent-focus: #17b8a64d;

  --color-link: #0fa395;
  --color-link-hover: #17b8a6;
  --color-link-active: #0c8f83;
  --color-link-visited: #0d7f75;

  --color-border-default: #aeaeae;

  --input-border: #17b8a64d;
  --input-border-focus: var(--color-accent-primary);
  --input-border-filled: #aeaeae;

  --input-text: var(--color-text-primary);

  --input-label: #999999;
  --input-label-focus: var(--color-accent-primary);

  --input-border-error: #e53935;
  --input-error-text: #e53935;
  --input-helper-text: #777777;
}
