.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-xxl);
  width: 100%;
  max-width: var(--max-width-md);
  gap: var(--spacing-xxl);
  background-color: var(--color-card-bg);
  border-radius: var(--radius-xl);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-ml);
}

.heading {
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-medium);
  color: var(--color-bg-primary);
  text-align: center;
}

.subtitle {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  color: var(--color-bg-surface);
  text-align: center;
}

.projectsGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-xl);
  width: 100%;
  max-width: var(--max-width-sm);
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 22em;
  max-width: 30em;
  gap: var(--spacing-ml);
  padding: var(--spacing-ml);
  flex: 1;
}

.imageWrapper {
  width: 100%;
  height: 12em;
  border-radius: var(--radius-base);
  overflow: hidden;
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-s);
}

.projectTitle {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  color: var(--color-bg-primary);
}

.projectLink {
  font-size: var(--font-size-12);
  text-decoration: underline;
  color: var(--color-link);
}

.projectLink:hover {
  color: var(--color-link-hover);
}

.projectLink:active {
  color: var(--color-link-active);
}

.projectMeta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.projectRole,
.projectPeriod {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-light);
  color: var(--color-bg-surface);
}

.projectDescription {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-light);
  color: var(--color-bg-surface);
}
